# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/*.pkl
models/*.joblib

# Logs
*.log

# Data
data/raw/
data/processed/*.csv
!data/processed/AEP_features.csv